<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rastreador"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".TelaLogin.ErroInscreverse"
            android:exported="false" />
        <activity
            android:name=".Conta.AlterarSenha"
            android:exported="false" />
        <activity
            android:name=".TelaAdicionarDispositivo.ErroAdicionarDispositivo"
            android:exported="false" />
        <activity
            android:name=".TelaAdicionarDispositivo.SucessoAdicionarDispositivo"
            android:exported="false" />
        <activity
            android:name=".TelaAdicionarDispositivo.AdicionarDispositivo"
            android:exported="false" />
        <activity
            android:name=".TelaHistorico.Historico"
            android:exported="false" />
        <activity
            android:name=".TelaConfiguracao.Configuracao"
            android:exported="false" />
        <activity
            android:name=".TelaExcluirDispositivo.Excluir"
            android:exported="false" />
        <activity
            android:name=".TelaMapaAtual.Mapa"
            android:exported="false" />
        <activity
            android:name=".Conta.Conta"
            android:exported="false" />
        <activity
            android:name=".TelaDispositivos.Dispositivos"
            android:exported="false" />
        <activity
            android:name=".TelaLogin.ErroLogin"
            android:exported="false" />
        <activity
            android:name=".TelaLogin.EsqueceuSenha"
            android:exported="false" />
        <activity
            android:name=".TelaLogin.Inscrever"
            android:exported="false" />
        <activity
            android:name=".TelaLogin.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCjIgpUxyyc0h5MXXB1iNl9oGYNN4-_aIA" />
    </application>

</manifest>